h1{
  font-size: 50px;
  color: aquamarine;
  font-weight: bold;
}
h2{
  font-size: 50px;
  color: aquamarine;
  font-weight: bold;
}
p{
  font-size: 50px;
  color: aquamarine;
  font-weight: bold;
}
span{
  font-size: 50px;
  color: aquamarine;
  font-weight: bold;
}
